a {
    color: #014366;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

img {
    max-width: 100%;
    width: 100%;
}

.signature {
    font-size: 170px;
    font-family: 'Homemade Apple', cursive;
    color: #000000;
    margin: auto;
    display: block;
    padding: 200px 0 0 60px;
}

.container {
    margin-bottom: 60px;
}

.btn {
    background-color: transparent;
    color: #8E4C6B;
    font-family: 'Open Sans', serif;
    border-color: #8E4C6B;
}

.btn:hover {
    background-color: #8E4C6B;
    color: #fff;
}

#home,
#about {
    height: 100vh;
}

.mainContent {
    margin-left: 40px;
}

.homepage-back {
    position: relative;
}

.photo-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 5px 15px;
}

.photo-overlay h3 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.top {
    margin-bottom: 10px;
}

li.sidebar-brand a {
    /*background: url(../../images/sprites.png);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    width: 250px;
    height: 36px;
    padding: 0;
    top: 40%;
    left: 12%;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #8E4C6B;
}

li.sidebar-brand a:hover {
    color: #999;
}

#about {
    margin-top: 60px;
}

.snippet {
    margin-top: 60px;
}

.snippet img {
    width: 30%;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}


/*BLOG*/

.date {
    font-size: 12px;
    font-family: 'Open Sans', serif;
}

footer.entry-footer {
    display: none;
}

div#jp-relatedposts {
    display: none;
}

nav.navigation.post-navigation {
    display: none;
}


/*PORTFOLIO*/

.portfolio-title {
    font-size: 26px;
    font-family: 'Montserrat', serif;
    padding: 20px 0 10px;
    line-height: 26px;
    font-weight: bold;
}

.portfolio-url {
    font-size: 12px;
    font-family: 'Open Sans', serif;
    font-style: italic;
}

hr.portfolio-hr {
    width: 25%;
    margin-bottom: 0;
    margin-left: 0;
    border-color: #bcbcbc;
}

.bmg,
.ffa,
.heylolly,
.honk,
.landr,
.rachel {
    background: url(sprites.png) no-repeat;
}

.bmg {
    background-position: -450px -700px;
    width: 340px;
    height: 490px;
}

.ffa {
    background-position: -900px -700px;
    width: 340px;
    height: 490px;
}

.heylolly {
    background-position: 0 -150px;
    width: 340px;
    height: 490px;
}

.honk {
    background-position: -450px -150px;
    width: 340px;
    height: 490px;
}

.landr {
    background-position: -900px -150px;
    width: 340px;
    height: 490px;
}

.rachel {
    background-position: 0 -700px;
    width: 340px;
    height: 490px;
}


/*END PORTFOLIO*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    p {
        font-size: 26px;
    }
    .photo-overlay {
        position: initial;
        background: rgba(0, 0, 0, 0.3);
    }
    #home,
    #about {
        height: 100%;
    }
    .snippet img {
        width: 50%;
        float: left;
    }
    #about {
        margin-bottom: 40px;
    }
    .container {
        max-width: 650px;
    }
}

@media screen and (max-width: 767px) {
    p {
        font-size: 22px;
    }
    .photo-overlay {
        position: initial;
        background: rgba(0, 0, 0, 0.3);
    }
    .top {
        margin: 20px 0;
    }
    .snippet img {
        width: 100%;
        float: none;
    }
    #home,
    #about {
        height: 100%;
    }
    #about {
        margin-left: 60px;
        margin-bottom: 40px;
    }
}
