.mainContent {
	margin-left: 40px;
}

.homepage-back {
    position: relative;
}

.photo-overlay {
    position: absolute;
    bottom: 0;
    width: 96.7%;
    background: rgba(0,0,0,0.9);
    padding: 5px 15px;
}

.photo-overlay h3 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.top {
    margin-bottom: 10px;
}

li.sidebar-brand a {
    background: url(../../images/sprites.png);
    background-size: 240px;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    width: 250px;
    height: 36px;
    padding: 0;
    top: 40%;
    left: 12%;
}