a {
    color: #014366;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

img {
    max-width: 100%;
    width: 100%;
}

h1.brand {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 85px;
    text-align: center;
}

#about h2 {
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}

.signature {
    font-size: 170px;
    font-family: 'Homemade Apple', cursive;
    color: #000000;
    margin: auto;
    display: block;
    padding: 200px 0 0 60px;
}

.container {
    margin-bottom: 60px;
}

.btn {
    background-color: transparent;
    color: #8E4C6B;
    font-family: 'Open Sans', serif;
    border-color: #8E4C6B;
}

.btn:hover {
    background-color: #8E4C6B;
    color: #fff;
}

#home,
#about {
    height: 100vh;
}

#home .row {
    margin-bottom: 80px;
}

.homepage-back {
    position: relative;
}

.photo-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 15px;
    text-align: left;
    text-transform: uppercase;
}

.photo-overlay h3 {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

.top {
    margin-bottom: 10px;
}

li.sidebar-brand a {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #8E4C6B;
}

li.sidebar-brand a:hover {
    color: #999;
}

#about {
    width: 1170px;
    margin: auto;
    padding-top: 20px;
}

.snippet {
    margin-top: 60px;
}

.snippet img {
    width: 30%;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.resume i {
    font-size: 55px;
    color: #ff0000;
    display: block;
    text-align: center;
    padding: 20px 0 10px;
}

.resume span {
    font-size: 18px;
    font-weight: 200;
    display: block;
    text-align: center;
}


/*BLOG*/

#blog .col-lg-6 {
    width: 49%;
    display: inline-block;
    float: none;
    vertical-align: top;
}

.date {
    font-size: 12px;
    font-family: 'Open Sans', serif;
}

footer.entry-footer {
    display: none;
}

div#jp-relatedposts {
    display: none;
}

nav.navigation.post-navigation {
    display: none;
}


/*PORTFOLIO*/

.portfolio-title {
    font-size: 26px;
    font-family: 'Open Sans', serif;
    padding: 20px 0 10px;
    line-height: 26px;
    font-weight: bold;
}

.portfolio-url {
    font-size: 12px;
    font-family: 'Open Sans', serif;
    font-style: italic;
    margin-bottom: 40px;
}

hr.portfolio-hr {
    width: 25%;
    margin-bottom: 0;
    margin-left: 0;
    border-color: #bcbcbc;
}

.portfolio p {
    font-size: 14px;
    color: #848B91;
}

.portfolio h4 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

h2.title {
    font-size: 55px;
    font-weight: 600;
    color: #33384A;
}

.portfolio {
    margin: 40px 0;
}


/*END PORTFOLIO*/


/* RESUME */

#resume h2 {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 200;
}

.work-title {
    font-size: 20px;
    font-weight: 500;
}

.work-employer {
    font-size: 16px;
    font-weight: 500;
}

.work-dates {
    font-weight: 200;
    font-size: 12px;
}

ul.work-details {
    padding-left: 15px;
    margin-bottom: 25px;
}

.work-details li {
    font-weight: 300;
}

.education {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.education span {
    font-size: 16px;
    font-weight: 200;
    text-align: left;
}

#resume p {
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 200;
}

#resume a:hover {
    text-decoration: none;
}

ul.skills-list {
    list-style-type: none;
    padding-left: 0;
}


/*END RESUME*/

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], #contact textarea {
    display: block;
    vertical-align: top;
    font-family: 'Open Sans',sans-serif;
    color: #777;
    font-size: 16px;
    font-weight: 200;
    margin: 0 0 15px;
    padding: 0 0 0 20px;
    border: 1px solid #dedede;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    height: 40px;
    line-height: 38px;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
}

#contact textarea {
    height: 120px;
}

.succMsg{ color:#009755 ; font-size: 15px;font-weight: bold;padding-top: 15px;}
.errMsg{ color:#fb4314 ; font-size: 15px;font-weight: bold;padding-top: 15px;}
.g-recaptcha {margin: 15px 0;}

.videos .col-lg-6 {
    margin: 20px 0 0;
}

@media screen and (min-width: 1200px) {
    #home {
        margin-top: -70px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    p {
        font-size: 26px;
    }
    .sidebar-nav li a {
        font-size: 20px;
        padding: 25px 15px 25px 30px;
    }
    h1.brand {
        font-size: 60px;
        font-family: 'Josefin Sans', sans-serif;
    }
    #about h2 {
        padding-top: 10%;
    }
    #home,
    #about {
        height: 100%;
        width: 100%;
        padding: 0 15px;
    }
    .snippet img {
        width: 50%;
        float: left;
    }
    #about {
        margin-bottom: 40px;
    }
    .container {
        max-width: 650px;
    }
    /*BLOG*/
    #blog .col-lg-6 {
        width: 100%;
        display: block;
        float: none;
    }
}

@media screen and (max-width: 767px) {
    /**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
    .headroom {
        will-change: transform;
        transition: transform 200ms linear;
    }
    .headroom--pinned {
        transform: translateY(0%);
    }
    .headroom--unpinned {
        transform: translateY(-100%);
    }
    p {
        font-size: 22px;
    }
    .sidebar-nav li a {
        font-size: 20px;
        padding: 25px 15px 25px 30px;
    }
    h1.brand {
        font-size: 44px;
        position: fixed;
        z-index: 999;
        width: 100%;
        background: #fff;
        margin-top: 0;
        padding-top: 20px;
        font-family: 'Josefin Sans', sans-serif;
    }
    #about h2 {
        padding-top: 20%;
    }
    .photo-overlay {
        position: static;
        background: transparent;
        padding: 0 15px 5px;
    }
    .photo-overlay h3 {
        color: #000;
    }
    .top {
        margin: 20px 0;
    }
    .snippet img {
        width: 100%;
        float: none;
    }
    #home,
    #about {
        height: 100%;
        width: 100%;
        padding: 0 15px;
    }
    /*BLOG*/
    #blog .col-lg-6 {
        width: 100%;
        display: block;
        float: none;
    }
}
